h1 {
    text-align: center;
}
.alert {
    color: darkorange;
}
html{
    background-color: lightgrey;
}

h3{
    text-align: center;
}

table{
    margin: 0 30rem;
    height: 3rem;
}
td{
    padding: 1.2rem

}
.submit{
    width: 50%;
    height: auto;
}
form{
    width: 100%;
    background-color: seagreen;
}
.font{
    font-size: larger;
    font-weight: 700;
}